#notice-container{
    margin: 2rem 0;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey ;

    .latest{
        font-size: 2rem;
    }

    .map-content{
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.1rem;
        border-bottom: 1px solid lightgray;
        text-align: left;
        position: relative;

        &:hover{
            border-bottom: 1px solid var(--main-color);
        }

        textarea{
            text-align: left;
        }

        button{
            position: absolute;
            right: 0;
            margin-right: 0.5rem;
            &:hover{
                color: var(--main-color);
            }
        }

        .date{
            margin-bottom: 0.2rem;
            font-size: 0.8rem;
        }
    }

}