#create-price-container{
    padding: 0.5rem;
    text-align: center;

    form{
        border-radius: 2px;
        box-sizing: border-box;
        max-width: 400px;
        margin: auto;
        transition: ease-in-out 0.3s;

        input{
            border-bottom: 2px solid lightgray;
            text-align: center;
            width: 100%;
            font-size: 1rem;

            &:hover{
                border-bottom: 2px solid var(--main-color);
            }
        }

        button{
            padding: 0.5rem;
            font-size: 1rem;
        }

        .create-btn{
            font-size: 1.5rem;
            &:hover{
                color: var(--main-color);
            }
        }
    }
}