#price-container{
    text-align: center;
    margin-top: 2rem;

    .edit-btn{
        margin-bottom: 1rem;
        font-size: 1rem;
        &:hover{
            color: var(--main-color);
        }
    }.color{
        color: var(--main-color);
    }

    .type-content{
        margin-bottom: 2rem;
        button{
            padding: 0.5rem;
            font-size: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }.selection{
            color: var(--main-color);
        }
    }

    .types-btn{
        padding: 0 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        &:hover{
            color: var(--main-color);
        }
    }

    .types-btn-choosen{
        padding: 0 0.5rem;
        font-size: 1rem;
        color: var(--main-color);
    }

    .type-btn-container{
        display: inline-block;
        button{
            padding: 0 0.5rem;
        }

        .delete-btn{
            color: lightgray;
            &:hover{
                color: red
            }
        }
    }

    .map-content{
        max-width: 600px;
        margin: 1rem auto;
        text-align: left;
        position: relative;
    }

}