#edit-gallery-container{

    .edit-content{
        display: inline-block;
    
        img{
            width: 120px;
            height: 120px;
            object-fit: cover;
            padding: 0.2rem;
            margin: 0.2rem;
            border: 2px solid transparent;
            &:hover{
                border: 2px solid var(--main-color);
            }
        }.switching{
            border: 2px solid var(--main-color);
        }

        button{
            position: absolute;
            margin: 10px -20px;
            &:hover{
                color: red;
            }
        }
    }    

    .save-btn{
        display: block;
        margin: 2rem auto;
        font-size: 1rem;
        &:hover{
            color: var(--main-color);
        }
    }

    .public-content{
        margin: -0.8rem auto;
        padding: 0.5rem;
        max-width: 400px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .row {
        -webkit-column-count: 4;
        -moz-column-count:    4;
        column-count:         4;
        column-gap:           8px;
        margin: 5px;
        padding: 0;
        img {
        margin-bottom: 5px;
        width: 100% !important;
        height: auto !important;
            &:hover{
                filter: brightness(1.02)
            }
        }
    }

    @media (max-width: 1000px) {
        .row {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
        }
      }
      @media (max-width: 800px) {
        .row {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
        }
      }
      @media (max-width: 400px) {
        .row {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
        }
      }

}
