#information-container{
    text-align: center;

    .content{
        position: relative;
        margin: auto;
        display: inline-flex;
        padding: 0.5rem;
        border: 2px solid white;
        transition: ease-in-out 0.2s;
        margin-top: 1rem;
        &:hover{
            border-color: var(--main-color);
        }
        p{
            position: absolute;
            background-color: white;
            padding: 0.2rem;
            margin-top: -1.3rem;
        }
        img{
            width: 300px;
            height: 200px;
        }
    }

    .walkings{
        margin-top: 5rem;
    }
}