.edit-price-container{
    text-align: center;
    margin: 2rem auto;

    .edit-btn{
        button{
            font-size: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }
    }

    .content{
        padding: 0.5rem;
        max-width: 500px;
        margin: auto;

        .selections{
            .icon{
                font-size: 1.3rem;
            }
            button{
                margin: 0.4rem;
                &:hover{
                    color: var(--main-color);
                }
            }
            .selected{
                color: var(--main-color);
            }
        }

        .prices{
            padding: 0.5rem;

            .options{
                display: flex;

                :nth-child(1){
                    width: 100%;
                }
                .selected{
                    border-color: var(--main-color);
                }

                button{
                    display: block;
                    padding: 0.3rem;
                    border: 1px solid grey;
                    margin: 0.3rem;
                    text-align: left;
                    &:hover{
                        border-color: var(--main-color);
                    }
                }
            }
        }

        .add{
            padding: 0.5rem;
            li, .icon{
                display: flex;
            }
            input{
                width: 100%;
            }
            input,button{
                padding: 0.4rem;
                margin: 0.2rem;
                border: 1px solid grey;
                &:hover{
                    border-color: var(--main-color);
                }
            }
        }
        


    }
}