.selections-container{
    text-align: center;
    padding: 1rem;

    button{
        margin: 0.5rem;
        &:hover{
            color: var(--main-color);
        }
    }
    .selected{
        color: var(--main-color);
    }

    .content{
        text-align: left;
        margin: 1rem auto;
        max-width: 500px;

        .header{
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            border-left: 3px solid  var(--main-color);
            padding: 0 0.4rem;
        }
    }
}