.edit-gallery-container{

    .edit-btn{
        text-align: center;
        margin: 2rem;

        button{
            font-size: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }
        .icon{
            font-size: 1.5rem;
        }
    }

    .edit-images{
        text-align: center;

        .content{
            display: inline-block;
            position: relative;

            button{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 1.2rem;
                color: black;
                &:hover{
                    color: red;
                }
            }

            img{
                margin: 0.5rem;
                width:200px;
                height:200px;
                border: 3px solid transparent;
                &:hover{
                    border: 3px solid var(--main-color);
                }
            }
            .choosen{
                border: 3px solid rgb(34, 34, 34);
            }
        }
    }
}