
.upload-images-container{
    text-align: center;
    margin: auto;
    width: 200px;

    .hidden{
        display: none;
    }
    label{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgrey;
        padding: 0.5rem;
        width: 200px;
        cursor: pointer;
        &:hover{
            border-color: var(--main-color);
        }
    }
    span{
        margin: 0 0.5rem;
    }

}

